export APP_ROOT=$(pwd)
export PUBLIC_PORT=80
export SECURE_PORT=88
set-window-title $(basename $APP_ROOT):${PUBLIC_PORT}/${SECURE_PORT}

export PUBLIC_APP_PORT=8080
export SECURE_APP_PORT=8088

export DOCKER_WRAPPER_RC=$APP_ROOT/.docker-wrapper.rc
export DOCKER_WRAPPER_APP_TARGET=npm-server

export TLS_CERT=$HOME/.letsencrypt/live/$USER.dev.getto.systems/fullchain.pem
export TLS_KEY=$HOME/.letsencrypt/live/$USER.dev.getto.systems/privkey.pem

export ID_SERVER=$USER.dev.getto.systems:${LABO_PORT_PREFIX}43
export SECURE_SERVER=$USER.dev.getto.systems:${LABO_PORT_PREFIX}${SECURE_PORT}
