[submodule "example/protobuf/z_external/auth_client/y_static/auth"]
	path = example/protobuf/z_external/auth_client/y_static/auth
	url = https://github.com/getto-systems/project-example-auth-protocol_buffers.git
