/tmp/
/node_modules/

/storybook/node_modules/
/storybook/lib/

/example/public/dist/coverage/
/example/public/dist/storybook/

/example/public/dist/css/
/example/public/dist/**/*.js
/example/secure/dist/**/*.js

**/y_environment/*
!**/y_environment/.keep
