[submodule "proto/public/z_external/auth_client/y_static/auth"]
	path = proto/public/z_external/auth_client/y_static/auth
	url = https://github.com/getto-systems/project-example-auth-protocol_buffers.git
