server {
  listen      8443 ssl;
  server_name dev-example-ui.$DOMAIN;

  ssl_certificate     ${TLS_CERT};
  ssl_certificate_key ${TLS_KEY};

  location / {
    proxy_pass http://${GETTO_EXAMPLE_UI_DEV_IP}:${GETTO_EXAMPLE_UI_PUBLIC_PORT};
  }
}
