server {
  listen      8443 ssl;
  server_name dev-example-sb.$DOMAIN;

  ssl_certificate     ${TLS_CERT};
  ssl_certificate_key ${TLS_KEY};

  location / {
    proxy_pass http://${LABO_IP}:${GETTO_EXAMPLE_UI_STORYBOOK_PORT};
  }
}
